<div class="nested-fields">
	<%= f.input :name %>
	<%= f.input :hours %>
	<%= f.input :minutes %>
	<%= f.input :completed, :as  => :hidden, :input_html => { :value => false }%>
	<%= link_to_remove_association "Remove Part", f %>
</div>